In [1]:
# Table details
# DEPT_ID 9
# DEP_NAME Quality Assurance
# MANAGER_ID> 30010
# LOC_ID>	L0010

# Instructions----->
# a. View all entries
# b. View only the department names
# c. Count the total entries

import sqlite3
import pandas as pd
conn = sqlite3.connect('../STAFF.db')
table_name = 'Departments'
attribute_list = ['DEPT_ID', 'DEP_NAME', 'MANAGER_ID', 'LOC_ID']
file_path = 'D:/Course/Data Engineering/Python Project for Data Engineering/Prac4_sqlite/problem_practice/Departments.csv'
df = pd.read_csv(file_path, names = attribute_list)
df.to_sql(table_name, conn, if_exists = 'replace', index =False)
print('Table is ready')

#queries
query_statement = f"SELECT * FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

query_statement = f"SELECT DEP_NAME FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

query_statement = f"SELECT COUNT(*) FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

conn.close()

Table is ready
SELECT * FROM Departments
   DEPT_ID         DEP_NAME  MANAGER_ID LOC_ID
0        2  Architect Group       30001  L0001
1        5   Software Group       30002  L0002
2        7      Design Team       30003  L0003
SELECT DEP_NAME FROM Departments
          DEP_NAME
0  Architect Group
1   Software Group
2      Design Team
SELECT COUNT(*) FROM Departments
   COUNT(*)
0         3